main {
  display: flex;
  flex-direction: row;
}

main > * {
  flex: 1;
}

#msg-buffer {
  height: 30vh;
  overflow: scroll;
}

#tooltip {
  position: absolute;
  background-color: aqua;
  border: 5px solid blue;
  border-radius: 5px;
}

.desc {
  font-size: smaller;
}

.self,
.progression {
  color: magenta;
}

.trap {
  color: red;
}

.entrance {
  color: lightblue;
}

.useful {
  color: darkblue;
}

.filler {
  color: cyan;
}

.location {
  color: lightgreen;
}

.player {
  color: yellow;
}
